
.card-trip {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    background-color: black;
    margin: auto;
    box-shadow: 7px 5px 5px grey;
}

.car-image {
  height: 200px;
  width: 90vh;
  object-fit: cover;
  border-radius: 10px
}

.whole-card {
  padding: 5px;
  margin: 10px;
   h2 {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
   }
}

.img-voiture {
    margin-left: 50px;
    background-color: #323232;
    margin: auto;
    margin-top: 15px;
    background-image: url("https://tse2.mm.bing.net/th?id=OIP.wb9-DDiDYoOBRP3JoF04GwAAAA&pid=Api");
    img {
      animation: 2s vroom linear forwards;
    }
}

@keyframes vroom {
  0% {
    transform: translate(300%, 0);
  }
  100% {
    transform: translate(-200%, 0);
  }
}
