
 <div class="card-trip">
  <div class="card-trip-infos">

 <% @cars.each do |car| %>

   <%= link_to car_path(car) do %>


  <%= cl_image_tag car.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>

    <div>

  <%= car.brand %>
    </div>
        <h2 class="card-trip-pricing"><%= car.price %> euros</h2>
    </div>

 <% end %>
  </div>
